<div class="datepicker-container">
    <md-input-container>
        <label>С:</label>
        <md-datepicker
            ng-model="$ctrl.pickerDateFrom"
            ng-change="$ctrl.onDateChange($ctrl.dateTypes.From)"
            md-hide-icons="calendar"
            onkeydown="return false"
            md-open-on-focus
        >
        </md-datepicker>
    </md-input-container>

    <md-input-container>
        <label>По:</label>
        <md-datepicker
            ng-model="$ctrl.pickerDateTo"
            md-hide-icons="calendar"
            ng-change="$ctrl.onDateChange($ctrl.dateTypes.To)"
            md-min-date="$ctrl.minDateTo"
            onkeydown="return false"
            md-open-on-focus
        >
        </md-datepicker>
    </md-input-container>

    <div class="pre-dates">
        <ul>
            <li ng-click="$ctrl.selectPredefined($ctrl.predefinedDates.Yesterday)">Вчера</li>
            <li ng-click="$ctrl.selectPredefined($ctrl.predefinedDates.Today)">Сегодня</li>
            <li ng-click="$ctrl.selectPredefined($ctrl.predefinedDates.TwoWeeks)">2 недели</li>
            <li ng-click="$ctrl.selectPredefined($ctrl.predefinedDates.Month)">Месяц</li>
            <li ng-click="$ctrl.selectPredefined($ctrl.predefinedDates.All)">Все</li>
        </ul>
    </div>
</div>
