<div
    class="sandbox-container"
    flex="50"
    md-whiteframe="1"
>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout-align="center center">
            <h2 class="md-flex">Mc. Dates Component</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <mc-dates date-from="$ctrl.dateFrom" date-to="$ctrl.dateTo" mc-change="$ctrl.showNewDates(newDateFrom, newDateTo)"></mc-dates>
        <div>
            <md-input-container>
                <label>Дата начала</label>
                <input ng-model="$ctrl.dateFrom" />
            </md-input-container>
        
            <md-input-container>
                <label>Дата окончания</label>
                <input ng-model="$ctrl.dateTo" />
            </md-input-container>
        </div>
    </md-content>
</div>
